
/* SCSS RGB */
$celeste: rgba(189, 255, 253, 1);
$ice-blue: rgba(159, 255, 245, 1);
$aquamarine: rgba(124, 255, 196, 1);
$keppel: rgba(106, 190, 167, 1);
$paynes-gray: rgba(94, 105, 115, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bdfffdff, #9ffff5ff, #7cffc4ff, #6abea7ff, #5e6973ff);
$gradient-right: linear-gradient(90deg, #bdfffdff, #9ffff5ff, #7cffc4ff, #6abea7ff, #5e6973ff);
$gradient-bottom: linear-gradient(180deg, #bdfffdff, #9ffff5ff, #7cffc4ff, #6abea7ff, #5e6973ff);
$gradient-left: linear-gradient(270deg, #bdfffdff, #9ffff5ff, #7cffc4ff, #6abea7ff, #5e6973ff);
$gradient-top-right: linear-gradient(45deg, #bdfffdff, #9ffff5ff, #7cffc4ff, #6abea7ff, #5e6973ff);
$gradient-bottom-right: linear-gradient(135deg, #bdfffdff, #9ffff5ff, #7cffc4ff, #6abea7ff, #5e6973ff);
$gradient-top-left: linear-gradient(225deg, #bdfffdff, #9ffff5ff, #7cffc4ff, #6abea7ff, #5e6973ff);
$gradient-bottom-left: linear-gradient(315deg, #bdfffdff, #9ffff5ff, #7cffc4ff, #6abea7ff, #5e6973ff);
$gradient-radial: radial-gradient(#bdfffdff, #9ffff5ff, #7cffc4ff, #6abea7ff, #5e6973ff);

// add Normalize style-list

@import './styles/normalize.scss';

// add Reset style-list

@import './styles/reset.scss';

// add Fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.4px;
        line-height: 26px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
}