$brand-color:#17D396;
$accent-color:#07f7f7;
$inverse-color:#00d7bb;
$box-shadow-color:rgba(22, 213, 156, 0.7);



$back-color: #22252c;
$back-color-secondary: #313741;
$text-color: #fff;
$border-color: #02f4b7;


// add Normalize style-list

@import './styles/normalize.scss';

// add Reset style-list

@import './styles/reset.scss';

// add Fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import './styles/header.scss';

body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.4px;
        line-height: 26px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
}