@import './styles/vars.scss';

// add Normalize style-list

@import './styles/normalize.scss';

// add Reset style-list

@import './styles/reset.scss';

// add Fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import './styles/header.scss';

@import './styles/hero.scss';

@import './styles/about.scss';

@import './styles/projects.scss';

@import './styles/contact.scss';

body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.4px;
        line-height: 26px;
}

.wrapper {
    min-height: 320px;
    overflow-x: hidden;
}

._container {
    margin: 0 auto;
    padding: 0px 15px;
}

@media (min-width: 576px) {
    ._container {
        padding: 0 30px;
    }
}
@media (min-width: 768px) {
    ._container {
            padding: 0 40px;
        }
}
@media (min-width: 992px) {
    ._container {
        max-width: 1200px;
    }
}
@media (min-width: 1400px) {
    ._container {
            max-width: 1320px;
        }
}

.section-padding {
    padding: 120px 0;
}


h2 {
    background: linear-gradient(to left, #00f298, #07f7f7);
    background-clip: text;
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase
}

@media (min-width: 576px) {
    .h2 {
        font-size: 35px;
    }
}

@media (min-width: 768px) {
    .h2 {
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    .h2 {
        font-size: 45px;
    }
}

.section-title {
        margin-top: 85px;
        text-align: center;
}

@media (min-width: 992px) {
    .section-title {
        margin-top: 0;
    }
}

/* https: //codingwithtopchiy.github.io/scrollbar.selectors.github.io/ */

body::-webkit-scrollbar {
    width: $sb-size;
}

body::-webkit-scrollbar-track {
    background: $sb-track-color;
    border-radius: 1rem;
}

body::-webkit-scrollbar-thumb {
    background: $sb-thumb-color;
    border-radius: 1rem;
}