.about {
        background-color: $back-color;
}

.about ._container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .about ._container {
        flex-direction: row;
        gap: 40px;
    }
}

.about__box {
    margin-bottom: 80px;
}

.about__photo {
    position: relative;
    width: 365px;
    z-index: 1;
}

.about__photo::after {
    display: none;
}

@media (min-width: 576px) {
    about__photo::after {
            content: "";
            display: block;
            height: 100%;
            border: 7px solid $inverse-color;
            left: 50px;
            position: absolute;
            top: -45px;
            width: 100%;
            z-index: -1;
        }
}


.about__photo img {
        display: block;
        height: 100%;
        width: 100%;
}

.resume-btn a {
    background: $linear-gradient-header;
    box-shadow: 0 0 20px $box-shadow-color;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-left: 0px;
    margin-top: 30px;
    padding: 14px 22px;
    text-align: center;
}

.fa-download {
    color: #fff;
}

@media (min-width: 576px) {
    .resume-btn a {
        margin-left: 90px;
    }
}

.about__info-title {
        margin: 0;
        text-align: left;
}

.about__info p {
            color: #fff;
            font-size: 14.5px;
            font-weight: 300;
            line-height: 26px;
            margin: 20px 60px 20px 0;
}

h4 {
            color: $inverse-color;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 17.5px;
}

h4 span {
        color: #fff;
        font-size: 16.5px;
        margin-bottom: 16px;
        text-transform: capitalize;
        font-weight: 400;
}

.about__email {
    text-transform: lowercase;
}