.contact {
    background-color: $back-color;
        padding-top: 0;
    // .contact__form

    &__form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

input {
    display: inline-block;
    padding: 5px 0px;
    color: #fff;
    background: transparent;
    outline: none;
}

.input-box {
    border-bottom: 1px solid $inverse-color;
    margin-bottom: 20px;
}

i.fas,
i.fa-message {
    width: 20px;
    text-align: center;
    font-family: 'fontawesome';
    font-size: 20px;
    color: $accent-color;
}

input[type="text"],
input[type="password"],
input [type="message"] {
    border: 0;
}

input[type="button"] {
    width: 50%;
    border: 2px solid $inverse-color;
    border-radius: 4px;
    margin: 15px auto;
    cursor: pointer;
    padding: 15px;
}

input[type="button"]:hover {
    background-color: $accent-color;
    color: #000;
}

input::placeholder {
    color: #fff;
}

input:focus::placeholder {
    font-weight: 700;
}