.education {
    background: #313741;
}

.education__content {
        margin-top: 130px;
        margin-left: 10px;
        position: relative;
}

.education__content::before {
        border: 2px solid #00d7bb;
        border-radius: 50%;
        color: #00d7bb;
        content: "\f19d";
        font-family: "fontawesome";
        font-size: 25px;
        height: 70px;
        left: 20px;
        line-height: 65px;
        position: absolute;
        text-align: center;
        top: -70px;
        transform: translateX(-50%);
        width: 70px;
}

@media (min-width: 992px) {
  .education__content::before {
    left: 50%;
  }
}


