.education {
    background-color: #313741;
    color: #fff;
}
.education-content {
  margin-top: 130px;
  position: relative;
}

.education-content::before {
  border: 2px solid #00d7bb;
  border-radius: 50%;
  color: #00d7bb;
  content: "\f19d";
  font-family: 'fontawesome';
  font-size: 25px;
  height: 70px;
  left: 20px;
  line-height: 65px;
  position: absolute;
  text-align: center;
  top: -70px;
  transform: translateX(-50%);
  width: 70px;
  box-shadow: 0 0 0 4px #07f7f7, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

@media (min-width:992px) {
  .education-content::before {
    left: 50%;
  }
}

.cd-timeline {
  margin: 0;
  padding: 100px 0;
}

.cd-timeline::before {
  background-color: #00d7bb;
}

.cd-timeline::after {
  background-color: #00d7bb;
  border-radius: 50%;
  bottom: 0;
  content: "";
  height: 20px;
  left: 20px;
  margin-left: -10px;
  position: absolute;
  width: 20px;
}

@media (min-width:992px) {
  .cd-timeline::after {
      left: 50%;
    }
}

.cd-timeline-block {
  margin: 0 0 150px;
}

.cd-timeline-block:last-child {
  margin: 0;
}

.cd-timeline-img {
  background-color: #313741;
  border: 2px solid #00d7bb;
  box-shadow: none;
  height: 35px;
  top: 25px;
  width: 35px;
  z-index: 1;
}

.cd-timeline-img span.dot {
  background-color: #00d7bb;
  border-radius: 50%;
  display: block;
  height: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
}

.cd-timeline-content {
  background-color: transparent;
  box-shadow: none;
  padding: 10px 0 0;
  text-align: left;
}

@media (min-width:992px){
  .cd-timeline-content {
    text-align: right;
  }
}

.cd-timeline-content::before {
  display: none;
}

.cd-timeline-block:nth-child(2n) .cd-timeline-content {
  text-align: left;
}

.cd-timeline-content h2 {
  color: #00d7bb;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.cd-timeline-content p {
  color: #fff;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}

.cd-timeline-content p span {
  font-weight: 600;
}

.cd-description {
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  opacity: 1;
  padding: 0;
  text-align: left;
}


// Animation
.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 3000ms;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 3000ms;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
