.footer {
        background-color: $back-color;
}

.footer-icons {
    padding-bottom: 50px;
    justify-content: center;
}

.footer-icons li {
    display: inline;
}

.footer-icons li a {
    display: inline-block;
    margin: 0 15px;
}

.footer-icons li a i {
    background-color: $back-color-secondary;
    border-radius: 50%;
    color: $border-color;
    display: table-cell;
    font-size: 22px;
    height: 50px;
    text-align: center;
    transition: all 0.4s ease 0s;
    vertical-align: middle;
    width: 50px;
}

.footer-icons li a i:hover {
    background-color: $inverse-color;
    color: $back-color;
}