.header {
    background: $brand-color;
    background: linear-gradient(90deg, rgba(23, 211, 150, 0) 0%, rgba(23, 211, 150, 0.5074404761904762) 30%, rgba(7, 247, 247, 0.4598214285714286) 60%, rgba(7, 247, 247, 0.4066001400560224) 857%);

    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.27);
    padding: 20px 0;
    transition: all 0.4s ease 0s;

    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;

    &__container {
        display: flex;
        min-height: 80px;
        align-items: center;
        justify-content: space-between;
    }
        @media (min-width: 576px) {
        &__container {
            min-height: 100px;
        }
        }

    // .header__logo

    &__logo {
        font-size: 24px;
        font-weight: 700;
        color: $text-color;
        margin-left: 8px;
    }
    @media (min-width: 576px) {
        &__logo {
            margin-left: 14px;
        }
    }

    &__logo-img {
        width: 50px;
        border-radius: 50%;
    }

}

.header:hover {
    background: $linear-gradient-header;
}

.social {
   
    // .social__list
    
    &__list {
        display: none; 
    }

     @media (min-width: 576px) {
            &__list {
                display: flex;
            }
    }

    // .social__link

    &__link {
        display: block;
        font-size: 26px;
        margin: 0 10px;
    }
}

.fa-brands {}

.fa-linkedin,
.fa-github,
.fa-discord,
.fa-slack,
.fa-stack-overflow {
    color: $text-color;
}

.menu {

    // .menu__list

    &__list {
        display: none;
    }

        @media (min-width: 992px) {
            &__list {
            display: flex;
        }
    }

    // .menu__item

    &__item:not(:last-child) {
            margin: 0px 8px 0px 0px;
        }

    // .menu__link

    &__link {
        color: $text-color;
        line-height: 171%;
        font-weight: 600;
    }

    @media (min-width:1200px) {
        &__link {
            font-size: 16px;
        }
    }

    &__btn {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: $text-color;
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            width: 12px;
            height: 2px;
            border-radius: 1px;
            background-color: $inverse-color;
            position: absolute;
            top: 15px;
            left: 14px;
            box-shadow: 0 4px 0 0 $inverse-color, 0 8px 0 0 $inverse-color;
        }
    }
        @media (min-width: 992px) {
            &__btn {
                display: none;
            }
        }
}
