.header {

    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;

    background-color: $brand-color;

    &__container {
        display: flex;
        min-height: 80px;
        align-items: center;
        justify-content: space-between;
    }

    // .header__logo

    &__logo {
        font-size: 24px;
        font-weight: 700;
        color: $text-color;
    }

    &__logo-img {
        width: 50px;
        border-radius: 50%;
    }

    // .header__menu

    &__menu {
     
    }
}

.social {
   
    // .social__list
    
    &__list {

        display: none;
        // display: flex;
    }

    // .social__item

    &__item {}

    // .social__link

    &__link {
        display: block;
        font-size: 20px;
        margin: 0 10px;
    }
}

.fa-brands {}

.fa-linkedin,
.fa-github,
.fa-discord,
.fa-slack,
.fa-stack-overflow {
    color: $text-color;
}

.menu {

    // .menu__list

    &__list {

        display: none;
        // display: flex;
        // flex-wrap: wrap;
    }

    // .menu__item

    &__item {
        
    }

    &__item:not(:last-child) {
            margin: 0px 8px 0px 0px;
        }

    // .menu__link

    &__link {
        color: $text-color;
        line-height: 171%;
        font-weight: 600;
    }

    &__btn {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-color: $text-color;
        cursor: pointer;
    }
}