.hero {
border: 2px solid #fd7e14;
    min-height: 500px;

    background: linear-gradient(90deg, rgba(23, 211, 150, 0) 0%, rgba(23, 211, 150, 0.5074404761904762) 43%, rgba(7, 247, 247, 0.4598214285714286) 70%, rgba(7, 247, 247, 0.4066001400560224) 87%), url('https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_640.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.hero__wrapper {
   
}
.hero__block {
    
}

.hero__title-h1 {
    color: #fff;
    font-size: 80px;
}

.hero__title-h3 {
    color: #fff;
    font-size: 35px;
}

.hero__discr {
    color: #fff;
    font-size: 25px;
}


