.hero {
    background-image: url('../images/bg-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 193px;
}

.hero__block {}

.hero__title-h1 {}

.hero__title-h3 {}

.hero__discr {}