.skills {
    background-color: #22252c;
    padding-bottom: 100px;
    padding-top: 80px;
}

.skills-aria {
    background-color: #313741;
    padding: 80px 0;
}

@media (min-width:768px) {
.skillbar__container {
        display: flex;
    }
}

.skillbar {
    width: 100%;
}

.skill-title {
    color: #fff;
    font-size: 16px;
}

.skill {
    margin: 10px auto;
}

// Animation

.skill-bar {
    animation-duration: 4000ms;
    height: 10px;
    background: $linear-gradient-header;
    border-radius: 5px;
    animation-fill-mode: forwards;
}

.skill-html {
    animation-name: skill-html;
}

@keyframes skill-html {
    0% {
        width: 0%
    }

    100% {
        width: 90%
    }
}

.skill-css {
    animation-name: css;
}

@keyframes css {
        0% {
            width: 0%;
    }
        100% {
            width: 75% ;
    }
}

.skill-sass {
    animation-name: sass;
}

@keyframes sass {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skill-js {
    animation-name: js;
}

@keyframes js {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

.skill-angular {
    animation-name: angular;
}
@keyframes angular {
    0% {
        width: 0%;
    }
        100% {
            width: 60%;
        }
}

.skill-react {
    animation-name: react;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}