$brand-color: #17D396;
$accent-color: #07f7f7;
$inverse-color: #00d7bb;
$box-shadow-color: rgba(22, 213, 156, 0.7);

$linear-gradient-header: linear-gradient(to right, #17D396, #07F7F7);

$back-color: #22252c;
$back-color-secondary: #313741;
$text-color: #fff;
$border-color: #02f4b7;